@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');

body {
    background: #777;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold
}